@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply min-h-screen bg-background text-slate-100 antialiased;
}

a {
  @apply text-sky-400 underline-offset-2 transition hover:text-sky-300;
}
